@import './base.less';

.banner-10-div {
  .content {
    .col-right {
      .bg-input {
        .el-textarea__inner {
          padding: 0 !important;
          background-color: #f2f0e4 !important;
          border: 1px solid #1a1a1a !important;
          text-indent: 10px !important;
        }

        .el-input__wrapper {
          padding: 0 !important;
          background-color: #f2f0e4 !important;
          border: 1px solid #1a1a1a !important;
          text-indent: 10px !important;
          padding-left: 10px !important;
        }
      }
    }
  }
}
.el-checkbox-group.g-b{
  .el-checkbox{
    margin-top: 30px;
  }
}
.drawer-view{
  .el-drawer__body{
    padding: 0;
  }
}

.add-num-div{
  .el-input--small .el-input__wrapper{
    box-shadow: none;
    background-color: #F7F7F7;
    margin-bottom: 5px;
  }
}

.nav-menu{
  .el-menu--horizontal>.el-menu-item.is-active{
    border-bottom: none !important;
  }
  .el-menu--horizontal>.el-menu-item{
    border-bottom: none !important;
  }
  .el-menu{
    .el-menu-item{
      .el-dropdown{
        color: #ffffff;
        font-size: 16px;
      }
    }
  }

}

.login-com {
  .checkbox-con{
    .el-select .el-select__wrapper{
      width: 100px;
      float: right;
      background-color: #1a1a1a;
    }
  }
  .login-form {
    .el-form {
      .el-form-item {
        border-bottom: 1px solid #999999;
        .el-form-item__content {
          .el-select .el-select__wrapper{
            box-shadow: none;
            background-color: #1a1a1a;
          }
          .el-input-group--prepend .el-input-group__prepend .el-select .el-select__wrapper {
            box-shadow: none !important;
            background-color: #1a1a1a;
          }
          .el-input-group--append .el-input-group__append .el-select .el-select__wrapper {
            box-shadow: none !important;
          }
          .el-input-group--append .el-input-group__append {
            position: relative;
            .line-border {
              display: block;
              width: 1px;
              height: 15px;
              position: absolute;
              background-color: #fff;
              left: 0;
              bottom: 30%;
            }
          }

          .bg-input {
            .el-input-group--append .el-input-group__append .el-select .el-select__wrapper {
              box-shadow: none !important;
            }
            .el-input-group--append .el-input-group__append .el-select .el-select__wrapper {
              box-shadow: none !important;
            }
            .el-input-group__prepend {
              box-shadow: none !important;
            }
            .el-input__wrapper {
              border: none !important;
              box-shadow: none !important;
            }
            .el-input-group--prepend .el-input-group__prepend .el-select .el-select__wrapper {
              box-shadow: none !important;
            }
            .el-input-group--prepend > .el-input__wrapper,
            .el-input-group__append {
              // box-shadow:  0 0 0 0, 0 -1px 0 0 #1B1B1B , 0 0 0 0 !important;
              background: #1b1b1b;
              box-shadow: none !important;
            }
            .el-input-group__prepend {
              background-color: #1b1b1b;
            }
            .el-input__wrapper {
              background-color: #1b1b1b !important;
              border-bottom: 1px solid #1a1a1a !important;
              text-indent: 10px !important;
              padding-left: 10px !important;
            }
          }
        }
      }
    }
  }
}
.shop-view {
  .shop-list {
    .el-collapse-item__content {
      padding-bottom: 0;
    }
    .el-collapse-item__header {
      height: 92px;
      background-color: #f7f7f7;
    }
  }
}
.p-i {
  .el-row {
    .el-col {
      .el-select {
        .el-select__wrapper {
          box-shadow: none;
        }
      }
    }
  }
}
